<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white"/>

    <!-- Meta Data for Search Engines -->
    <meta title="dbp toolbox | digital blueprint">
    <meta name="description" content="Search engine for digital blueprint and their components and related services." />

    <!-- Meta Data for open graph(facebook & co) -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="dbp Overview | digital blueprint" />
    <meta property="og:description" content="Search for digital blueprints in Open Source Software" />
    <meta property="og:url" content="https://s-o-dev.tugraz.at/" />
    <meta property="og:site_name" content="dbp overview" />

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= getPrivateUrl('icon/favicon.ico') %>">
    <link rel="icon" type="image/svg+xml" href="<%= getPrivateUrl('icon/favicon.svg') %>" sizes="any">

    <!-- PWA manfiest file -->
    <link rel="manifest" href="<%= getUrl(name + '.manifest.json') %>">

    <!-- PWA iphone -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= getPrivateUrl('icon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= getPrivateUrl('icon/icon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= getPrivateUrl('icon/icon-16x16.png') %>">
    <link rel="mask-icon" href="<%= getPrivateUrl('icon/safari-pinned-tab.svg') %>" color="#e4154b">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <!-- PWA Windows -->
    <meta name="msapplication-config" content="<%= getUrl(name + '.browserconfig.xml') %>">

    <title>dbp toolbox</title>

    <script>
        function view_filters() {
            if (document.getElementsByClassName('search-panel__filters')[0].classList.contains('mobile-hidden')) {
                document.getElementsByClassName('search-panel__filters')[0].classList.remove('mobile-hidden');
            } else {
                document.getElementsByClassName('search-panel__filters')[0].classList.add('mobile-hidden');
            }
            console.log('view_filters()');
        }
    </script>

    <!-- App bundles-->
    <script type="module">
        import {init} from "<%= getUrl(name + '.js') %>";

        let typesenseConfig = {
            host: '<%= typesense.host %>',
            port: '<%= typesense.port %>',
            protocol: '<%= typesense.protocol %>',
            key: '<%= typesense.key %>'
        };
        const privatePath = '<%= getPrivateUrl('')%>';

        init(typesenseConfig, {active: false, range: 86400}, privatePath);

        function filter_changed() {
            const dateFilter = {
                active: document.getElementById('filter-changed').checked,
                range: document.getElementById('timespan').value,
            };
            console.log('filter_changed()');
            console.dir(dateFilter);
            init(typesenseConfig, dateFilter, privatePath);
        }
        document.getElementById('filter-changed').onchange = filter_changed;
        document.getElementById('timespan').onchange = filter_changed;

        // show/hide facet list by clicking on caption
        const captions = Array.from(document.getElementsByClassName("filter-heading"));
        captions.forEach(function (caption) {
            const ul = document.getElementById(caption.dataset.target);
            const div = document.getElementById(caption.dataset.chevron);
            if (typeof ul !== 'undefined') {
                caption.onclick = () => {
                    ul.style.display = ul.style.display === 'none' ? 'block' : 'none';
                    if (typeof div !== 'undefined') {
                        if (ul.style.display === 'none') {
                            div.classList.remove('open');
                        } else {
                            div.classList.add('open');
                        }
                    }
                }
            }
            const status = caption.dataset.status;
            if (typeof status !== 'undefined') {
                if (status === 'open') {
                    ul.style.display = 'block';
                    div.classList.add('open');
                } else {
                    ul.style.display = 'none';
                    div.classList.remove('open');
                }
            }
        });

        // slider
        function setupSlider() {
            const navs = Array.from(document.getElementsByClassName("slider-nav"));
            //console.dir(navs);
            navs.forEach(function (nav) {
                //console.log('setup onclick for nav: ' + nav.id);
                const id = nav.id.replace('slider-nav-', '');
                nav.onclick = () => {
                    const allSlides = Array.from(document.getElementsByClassName('slide-item'));
                    allSlides.forEach(elm => elm.classList.remove('selected'));
                    document.getElementById('slide-' + id).classList.add('selected');
                    const allNavs = Array.from(document.getElementsByClassName('slider-nav'));
                    allNavs.forEach(elm => elm.classList.remove('selected'));
                    document.getElementById('slider-nav-' + id).classList.add('selected');
                }
            });
        }
        window.setupSlider = setupSlider;

    </script>

    <!-- Prevent Chrome/Edge from suggesting to translate the page -->
    <meta name="google" content="notranslate">

    <!-- algolia default css -->
    <link rel="stylesheet" href="<%= getUrl('algolia-min.css') %>">
    <!-- Micromodal css -->
    <link rel="stylesheet" href="<%= getPrivateUrl('micromodal.css') %>">
    <!-- carousel css -->
    <link rel="stylesheet" href="<%= getPrivateUrl('carousel.css') %>">
    <!-- custom css -->
    <link rel="stylesheet" href="<%= getPrivateUrl('styles.css') %>">
</head>

<body class="antialiased">
<div class="header-top">
    <div class="logo">
        <img src="<%= getPrivateUrl('dbp_logo_on_white.svg') %>" alt="dbp Logo">
    </div>
    <div class="contact">
        <!--
        <img src="<%= getPrivateUrl('facebook2.svg') %>" alt="Facebook">
        <img src="<%= getPrivateUrl('instagram2.svg') %>" alt="Instagram">
        -->
        <a href="mailto:<%= email %>">
            <img src="<%= getPrivateUrl('mail2.svg') %>" alt="Mail">
        </a>
    </div>
</div>
<header class="header border-shadow">
    <h1 class="header-title">
        <a href="/">toolbox</a>
    </h1>
    <div class="header-subtitle">assemble your digital service</div>
</header>
<div class="header-bottom"></div>
<div class="relative flex items-top justify-center sm:items-center">

    <div class="container">
        <div class="search-panel">
            <div class="search-panel__filters mobile-hidden">
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="blueprint-menu" data-chevron="blueprint-menu-chevron" data-status="open"
                    >Topics
                        <svg id="blueprint-menu-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div id="blueprint-menu"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="targetaudience-list" data-chevron="targetaudience-chevron" data-status="open"
                    >Target Audience
                        <svg id="targetaudience-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div id="targetaudience-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="document-type-list" data-chevron="document-type-chevron" data-status="closed"
                    >Categories
                        <svg id="document-type-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div id="document-type-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="content-type-list" data-chevron="content-type-chevron" data-status="closed"
                    >Types
                        <svg id="content-type-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div id="content-type-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="languages-list" data-chevron="languages-chevron" data-status="closed"
                    >Programming Languages
                        <svg id="languages-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div id="languages-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="license-list" data-chevron="license-chevron" data-status="closed"
                    >License
                        <svg id="license-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div id="license-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="maintained-by-list" data-chevron="maintained-by-chevron" data-status="closed"
                    >Maintained by
                        <svg id="maintained-by-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div id="maintained-by-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="labs-list" data-chevron="labs-chevron" data-status="closed"
                    >Labs/Experiments <img class="labs-img" src="<%= getPrivateUrl('lab_flask.svg')%>" alt="labs">
                        <svg id="labs-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div id="labs-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="changed" data-chevron="changed-chevron" data-status="closed"
                    >Release date
                        <svg id="changed-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div id="changed">
                        <input type="checkbox" id="filter-changed" name="changed_filter" value="1">
                        <label for="filter-changed">released</label>
                        <label for="timespan">within</label>
                        <select name="timespan" id="timespan">
                            <!--
                            <option value="86400">24 hours</option>
                            <option value="604800">7 days</option>
                            -->
                            <option value="2678400">1 month</option>
                            <option value="7948800">3 months</option>
                            <option value="15811200">6 months</option>
                            <option value="31622400">year</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="search-panel__results">
                <div id="searchbox"></div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="current-refinements" data-chevron="filter-chevron" data-status="open">
                        Filter
                        <svg id="filter-chevron" style="width: 1rem;" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
                    </div>
                    <div style="display:flex; flex-direction: row;">
                        <div id="current-refinements"></div>
                    </div>
                </div>
                <div class="stats-container">
                    <div id="stats"></div>
                    <div class="filter-mobile">
                        <div class="description">Filter Results</div>
                        <div id="mobile-filter-btn" onclick="view_filters()">
                            <img src="<%= getPrivateUrl('filter.svg') %>" alt="Filter">
                        </div>
                    </div>
                </div>
                <div id="hits"></div>
            </div>
        </div>

        <div id="pagination"></div>
    </div>
</div>
<footer>
    <p>
        <a href="mailto:hello@digital-blueprint.org" class="hello">hello@digital-blueprint.org</a>
        <br>
        <br>
        <!-- <a href="imprint.html" title="imprint and partners">imprint</a> <span>|</span> -->
        <a href="https://gitlab.tugraz.at/dbp" target="_blank" title="gitlab">source code</a> <span>|</span>
        <a href="https://dbp-demo.tugraz.at/handbook">technical handbook</a> <span>|</span>
        <a href="https://dbp-demo.tugraz.at/site/" target="_blank" title="Installation and guide">installation guides</a> <span>|</span>
        <a href="https://dbp-demo.tugraz.at/dev-guide/contribute/">how to contribute</a> <!-- <span>|</span> -->
        <!-- <a href="mailto:hello@digital-blueprint.org">get a demo account</a> -->
        <br>
        <br>
        Version <a href="<%= buildInfo.url %>"><%= buildInfo.info %></a>
        built for environment <span title="built at <%= buildInfo.time %>"><em><%= buildInfo.env %></em></span> .
    </p>

</footer>
<!-- <footer>
    <p>
        Version <a href="<%= buildInfo.url %>"><%= buildInfo.info %></a>
        built for environment <span title="built at <%= buildInfo.time %>"><em><%= buildInfo.env %></em></span>
    </p>
</footer> -->
<!-- Error handling for too old browsers -->
<noscript>Diese Applikation benötigt Javascript / This application requires Javascript</noscript>
</body>
</html>
