<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white"/>

    <!-- Meta Data for Search Engines -->
    <meta title="My app | My University">
    <meta name="description" content="My app description" />

    <!-- Meta Data for open graph(facebook & co) -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DBP Overview | Digital Blueprint" />
    <meta property="og:description" content="Search for Digital Blueprints in Open Source Software" />
    <meta property="og:url" content="https://s-o-dev.tugraz.at/" />
    <meta property="og:site_name" content="dbp overview" />

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= getPrivateUrl('icon/favicon.ico') %>">
    <link rel="icon" type="image/svg+xml" href="<%= getPrivateUrl('icon/favicon.svg') %>" sizes="any">

    <!-- PWA manfiest file -->
    <link rel="manifest" href="<%= getUrl(name + '.manifest.json') %>">

    <!-- PWA iphone -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= getPrivateUrl('icon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= getPrivateUrl('icon/icon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= getPrivateUrl('icon/icon-16x16.png') %>">
    <link rel="mask-icon" href="<%= getPrivateUrl('icon/safari-pinned-tab.svg') %>" color="#e4154b">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <!-- PWA Windows -->
    <meta name="msapplication-config" content="<%= getUrl(name + '.browserconfig.xml') %>">

    <title>DBP Overview</title>

    <!-- App bundles-->
    <script type="module">
        import {init, filter} from "<%= getUrl(name + '.js') %>";

        let typesenseConfig = {
            host: '<%= typesense.host %>',
            port: '<%= typesense.port %>',
            protocol: '<%= typesense.protocol %>',
            key: '<%= typesense.key %>'
        };

        init(typesenseConfig);

        function filter_changed() {
            // console.dir(window.searchIndex);

            const filterActive = document.getElementById('filter-changed').checked;
            const timespan = document.getElementById('timespan').value;
            console.log('filter:');
            console.dir(filterActive);
            console.dir(timespan);
            if (filterActive) {
                filter(timespan);
            }
        }
        document.getElementById('filter-changed').onchange = filter_changed;
        document.getElementById('timespan').onchange = filter_changed;
    </script>

    <!-- Prevent Chrome/Edge from suggesting to translate the page -->
    <meta name="google" content="notranslate">

    <link rel="stylesheet" href="<%= getUrl('algolia-min.css') %>">
    <!-- Font related CSS -->
    <style>
        body {
            font-family: 'Source Sans Pro', 'Calibri', 'Arial', 'sans-serif';
            font-weight: 300;
            margin: 0;
        }

        /* style override */
        html {
        }

        .light-theme{
            --dbp-override-background: white;
            --dbp-override-content: black;

            --dbp-override-primary: #2a4491;
            --dbp-override-secondary: black;
            --dbp-override-secondary-surface: white;
            --dbp-override-on-secondary-surface: black;
            --dbp-override-secondary-surface-border-color: black;

            --dbp-override-muted: #767676;
            --dbp-override-accent: #c24f68;
            --dbp-override-info: #2a4491;
            --dbp-override-success: #188018;
            --dbp-override-warning: #c15500;
            --dbp-override-warning-surface: #ffad4d;
            --dbp-override-on-warning-surface: black;
            --dbp-override-danger: #de3535;

            --dbp-override-border: 1px solid black;

            --dbp-override-hover-background-color: black;
            --dbp-override-hover-color: white;
        }

        .dark-theme{
            --dbp-override-background: #151515;
            --dbp-override-content: white;

            --dbp-override-primary: #8ca4eb;
            --dbp-override-secondary: white;
            --dbp-override-secondary-surface: #151515;
            --dbp-override-on-secondary-surface: white;
            --dbp-override-secondary-surface-border-color: #151515;

            --dbp-override-muted: #666666;
            --dbp-override-accent: #c24f68;
            --dbp-override-info: #8ca4eb;
            --dbp-override-success: #7acc79;
            --dbp-override-warning: #f99a41;
            --dbp-override-on-warning-surface: black;
            --dbp-override-danger: #de3535;

            --dbp-override-border: 1px solid white;

            --dbp-override-hover-background-color: white;
            --dbp-override-hover-color: #151515;
        }

        .header {
            display: flex;
            align-items: center;
            min-height: 50px;
            padding: 0.5rem 1rem;
            margin-bottom: 1rem;
            background-color: white;
            border-bottom: 1px solid blue;
        }

        .header a {
            color: blue;
            text-decoration: none;
            align-self: flex-end;
        }

        .header-title {
            font-size: 2rem;
            font-weight: 600;
            align-self: flex-end;
        }

        .header-subtitle {
            margin-left: 1.2rem;
            font-size: 1.2rem;
            /*align-self: flex-end;*/
        }

        .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 1rem;
        }

        .search-panel {
            display: flex;
        }

        .search-panel__filters {
            flex: 1;
        }
        .filter-block {
            margin-bottom: 1rem;
        }
        .filter-heading {
            width: 80%;
            background-color: white;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 0.5rem;
            margin-bottom: 5px;
        }
        .search-panel__results {
            flex: 2;
        }

        .ais-Highlight-highlighted {
            color: inherit;
            font-size: inherit;
        }

        #searchbox {
            margin-bottom: 2rem;
        }
        #stats {
            margin-bottom: 1rem;
        }
        #pagination {
            margin: 2rem auto;
            text-align: center;
        }

        .hit-name {
            font-size: 1.1rem;
            font-weight: bold;
            margin-top: 10px;
            display: flex;
            align-items: center;
        }
        .hit-name img {
            height: 48px;
            width: 48px;
            padding-right: 0.2rem;
        }

        .hit-document-type, .hit-content-type {
            margin-top: 20px;
            font-size: 0.8rem;
        }

        .links {
            padding-top: 1rem;
        }
        .hit-repo img, .hit-doc img, .hit-demo img {
            height: 24px;
            width: 24px;
            padding-left: 1rem;
        }

        .hit-license {
            margin-top: 20px;
        }
        .hit-used-prog-langs {
            font-size: 0.8rem;
            margin-top: 20px;
        }

        .hit-rating {
            margin-top: 1rem;
            font-size: 0.8rem;
        }


        .ais-Hits-item {
            padding: 20px;
            box-shadow: none;
            border: 1px solid lightgray;
            width: calc(50% - 1rem);
        }

        .type {
            border: 1px black solid;
            padding: 0.3rem;
            margin: 0.2rem;
            display: inline-block;
        }

        /* document type */
        .software {
            background-color: white;
            color: black;
        }

        .resource {
            background-color: black;
            color: white;
        }

        .service {
            background-color: blue;
            color: white;
        }

        /* content type */
        .api {
            background-color: #ff7777;
            color: black;
        }
        .application {
            background-color: #7aff8f;
            color: black;
        }
        .supporting-software {
            background-color: #878faf;
            color: black;
        }
        .admin-tool {
            background-color: sandybrown;
            color: black;
        }

        /* used programming languages */
        .php {
            background-color: lightblue;
            color: black;
        }
        .javascript {
            background-color: lightcoral;
            color: black;
        }
        .docker {
            background-color: lightcyan;
            color: black;
        }
        .css {
            background-color: lightpink;
            color: black;
        }
        .java {
            background-color: yellow;
            color: black;
        }
        .html {
            background-color: gray;
            color: white;
        }
        /* infrastructure */
        footer p {
            text-align: right;
            padding-right: 20px;
        }
        .text-panel {
            padding-left: 20px;
            font-weight: bolder;
        }
        .text-panel-block {
            padding-bottom: 20px;
        }
        .text-panel-header {
            font-size: x-large;
            padding-bottom: 10px;
        }
        .text-panel-text {
            font-size: larger;
            padding-bottom: 5px;
        }
    </style>

</head>

<body class="antialiased">
<header class="header">
    <img src="<%= getPrivateUrl('dbp-logo.png') %>" alt="DBP Logo">
    <h1 class="header-title">
        <a href="/">DBP Overview</a>
    </h1>
    <div class="header-subtitle">using Typesense + InstantSearch.js</div>
</header>
<div class="relative flex items-top justify-center sm:items-center">

    <div class="container">
        <div class="search-panel">
            <div class="search-panel__filters">
                <div class="filter-block">
                    <div class="filter-heading">Blueprints</div>
                    <div id="blueprint-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading">Types</div>
                    <div id="document-type-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading">Subtypes</div>
                    <div id="content-type-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading">Programming Languages</div>
                    <div id="languages-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading">License</div>
                    <div id="license-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading">Maintained by</div>
                    <div id="maintained-by-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading">Labs/Experiments</div>
                    <div id="labs-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading">Changed</div>
                    <div id="changed">
                        <input type="checkbox" id="filter-changed" name="changed_filter" value="1">
                        <label for="filter-changed">on changed in the last</label>
                        <select name="timespan" id="timespan">
                            <option value="86400">24 hours</option>
                            <option value="604800">7 days</option>
                            <option value="2678400">31 days</option>
                            <option value="7948800">3 months</option>
                            <option value="15811200">6 months</option>
                            <option value="31622400">year</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="search-panel__results">
                <div id="searchbox"></div>
                <div id="stats"></div>
                <div id="hits"></div>
            </div>
            <div class="text-panel">
                <div class="text-panel-block">
                    <div class="text-panel-header">Get Started</div>
                    <div class="text-panel-text"><a href="https://dbp-demo.tugraz.at/dev-guide/relay/">Quick Start Guide</a></div>
                    <div class="text-panel-text"><a href="https://dbp-demo.tugraz.at/dev-guide/relay/getting_started/">Architecture</a></div>
                    <div class="text-panel-text"><a href="https://dbp-demo.tugraz.at/dev-guide/contribute/">How to contribute</a></div>
                </div>
                <div>
                    <div class="text-panel-header">Useful Links</div>
                    <div class="text-panel-text"><a href="https://dbp-demo.tugraz.at/dev-guide/relay/faq/">FAQ</a></div>
                    <div class="text-panel-text"><a href="https://dbp-demo.tugraz.at/dev-guide/frontend/theming/">Integrators guide</a></div>
                    <div class="text-panel-text"><a href="https://dbp-demo.tugraz.at/dev-guide">Developers guide</a></div>
                </div>
            </div>
        </div>

        <div id="pagination"></div>
    </div>
</div>
<footer>
    <p>
        Version <a href="<%= buildInfo.url %>"><%= buildInfo.info %></a>
        built for environment <span title="built at <%= buildInfo.time %>"><em><%= buildInfo.env %></em></span>
    </p>
</footer>
<!-- Error handling for too old browsers -->
<noscript>Diese Applikation benötigt Javascript / This application requires Javascript</noscript>
</body>
</html>
