<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="white"/>

    <!-- Meta Data for Search Engines -->
    <meta title="dbp toolbox | digital blueprint">
    <meta name="description" content="Search engine for digital blueprint and their components and related services." />

    <!-- Meta Data for open graph(facebook & co) -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="dbp Overview | digital blueprint" />
    <meta property="og:description" content="Search for digital blueprints in Open Source Software" />
    <meta property="og:url" content="https://s-o-dev.tugraz.at/" />
    <meta property="og:site_name" content="dbp overview" />

    <!-- Favicons -->
    <link rel="shortcut icon" type="image/x-icon" href="<%= getPrivateUrl('icon/favicon.ico') %>">
    <link rel="icon" type="image/svg+xml" href="<%= getPrivateUrl('icon/favicon.svg') %>" sizes="any">

    <!-- PWA manfiest file -->
    <link rel="manifest" href="<%= getUrl(name + '.manifest.json') %>">

    <!-- PWA iphone -->
    <link rel="apple-touch-icon" sizes="180x180" href="<%= getPrivateUrl('icon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= getPrivateUrl('icon/icon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= getPrivateUrl('icon/icon-16x16.png') %>">
    <link rel="mask-icon" href="<%= getPrivateUrl('icon/safari-pinned-tab.svg') %>" color="#e4154b">
    <meta name="apple-mobile-web-app-status-bar-style" content="white">

    <!-- PWA Windows -->
    <meta name="msapplication-config" content="<%= getUrl(name + '.browserconfig.xml') %>">

    <title>dbp toolbox</title>

    <script>
        // proceed to results page and search for query
        function showThis() {
            const q = document.getElementById('starter-search').value;
            window.location.href += '?q=' + q;
        }
        // proceed to results page and show all
        function showAll() {
            window.location.href += '?q=';
        }
        // search on "Enter" key
        function searchEnter(event) {
            if (event.key === 'Enter') {
                showThis();
            }
        }

        // globals
        window.clearSearchBox = false;

        // select page
        window.onload = function () {
            // get url params
            const params = new Proxy(new URLSearchParams(window.location.search), {
                get: (searchParams, prop) => searchParams.get(prop),
            });
            if (params.q !== null) {
                //console.log('page load: q=' + params.q);
                document.getElementById('starter').style.display = 'none';
                document.getElementById('runner').style.display = 'block';
                document.getElementsByClassName('header-top')[0].classList.add('border-shadow');
            }
            document.getElementById('this-in-runner').onclick = showThis;
            document.getElementById('all-in-runner').onclick = showAll;
            document.getElementById('starter-search').onkeyup = searchEnter;
        };

        // mobile layout: display filter section
        function view_filters() {
            if (document.getElementsByClassName('search-panel__filters')[0].classList.contains('mobile-hidden')) {
                let destinationElement = document.getElementsByClassName('stats-container')[0];
                let elementToInsert = document.getElementsByClassName('search-panel__filters')[0];
                destinationElement.after(elementToInsert);
                document.getElementsByClassName('search-panel__filters')[0].classList.remove('mobile-hidden');
            } else {
                let destinationElement = document.getElementsByClassName('search-panel')[0];
                let elementToAppend = document.getElementsByClassName('search-panel__filters')[0];
                destinationElement.appendChild(elementToAppend);
                let elementAfter = document.getElementsByClassName('search-panel__results')[0];
                elementToAppend.after(elementAfter);
                document.getElementsByClassName('search-panel__filters')[0].classList.add('mobile-hidden');
            }
         }

        // slider
        function setupSlider(id) {
            const items = Array.from(document.getElementsByClassName("nav-item-" + id));
            const leftPaddle = document.getElementById("left-paddle-" + id);
            const rightPaddle = document.getElementById("right-paddle-" + id);

            function adjustPaddles() {
                if (items.length > 1 && items[0].classList.contains("hidden")) {
                    leftPaddle.classList.remove("paddle-faded");
                } else {
                    leftPaddle.classList.add("paddle-faded");
                }
                if (items.length > 1 && items[items.length - 1].classList.contains("hidden")) {
                    rightPaddle.classList.remove("paddle-faded");
                } else {
                    rightPaddle.classList.add("paddle-faded");
                }
            }

            leftPaddle.onclick = () => {
                if (leftPaddle.classList.contains("paddle-faded")) {
                    return;
                }
                let action = "hide";
                for (let i = items.length - 1; i >= 0; --i) {
                    let item = items[i];
                    let hidden = item.classList.contains("hidden");
                    if (action === "hide" && !hidden) {
                        item.classList.add("hidden");
                        action = "show";
                        continue;
                    }

                    if (action === "show" && hidden) {
                        item.classList.remove("hidden");
                        break;
                    }
                }
                adjustPaddles();
            };

            rightPaddle.onclick = () => {
                if (rightPaddle.classList.contains("paddle-faded")) {
                    return;
                }
                let action = "hide";
                for (let i = 0; i < items.length; ++i) {
                    let item = items[i];
                    let hidden = item.classList.contains("hidden");
                    if (action === "hide" && !hidden) {
                        item.classList.add("hidden");
                        action = "show";
                        continue;
                    }

                    if (action === "show" && hidden) {
                        item.classList.remove("hidden");
                        break;
                    }
                }
                adjustPaddles();
            };
            adjustPaddles();
        }
        // click on filter tags
        function clearAllFilter(func, wait=100 /* ms */) {
            const el = document.getElementById('clear-refinements');
            if (null !== el) {
                el.querySelector('button').click();
                setTimeout(func, wait);
            } else {
                func();
            }

            // clear search box also
            window.clearSearchBox = true;
        }
        // click an element safely (could be unreachable)
        function clickElementById(id) {
            const el = document.getElementById(id);
            if (null !== el) {
                el.click();
            //     console.log('automatic click on id ' + id);
            // } else {
            //     console.log('el id=' + id + ' not found.');
            }
        }
    </script>

    <!-- App bundles-->
    <script type="module">
        import {init} from "<%= getUrl(name + '.js') %>";

        // get url params
        const params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        let searchString = params.q;

        let typesenseConfig = {
            host: '<%= typesense.host %>',
            port: '<%= typesense.port %>',
            protocol: '<%= typesense.protocol %>',
            key: '<%= typesense.key %>'
        };
        const privatePath = '<%= getPrivateUrl('')%>'; // path to local images
        const searchIndexName = '<%= searchIndexName %>'; // name of search index in typesense
        const daysStillNew = parseInt('<%= daysStillNew %>'); // component marked still new

        init(typesenseConfig, searchIndexName, {active: false, range: 86400}, privatePath, searchString, daysStillNew);

        function filter_changed() {
            const dateFilter = {
                active: document.getElementById('filter-changed').checked,
                range: document.getElementById('timespan').value,
            };
            // console.log('filter_changed()');
            // console.dir(dateFilter);
            init(typesenseConfig, searchIndexName, dateFilter, privatePath, searchString, daysStillNew);
        }
        document.getElementById('filter-changed').onchange = filter_changed;
        document.getElementById('timespan').onchange = filter_changed;

        // show/hide facet list by clicking on caption
        const captions = Array.from(document.getElementsByClassName("filter-heading"));
        captions.forEach(function (caption) {
            const ul = document.getElementById(caption.dataset.target);
            const div = document.getElementById(caption.dataset.chevron);
            if (typeof ul !== 'undefined') {
                caption.onclick = () => {
                    ul.style.display = ul.style.display === 'none' ? 'block' : 'none';
                    if (typeof div !== 'undefined') {
                        if (ul.style.display === 'none') {
                            div.classList.remove('open');
                        } else {
                            div.classList.add('open');
                        }
                    }
                }
            }
            const status = caption.dataset.status;
            if (typeof status !== 'undefined') {
                if (status === 'open') {
                    ul.style.display = 'block';
                    div.classList.add('open');
                } else {
                    ul.style.display = 'none';
                    div.classList.remove('open');
                }
            }
        });
    </script>

    <!-- Prevent Chrome/Edge from suggesting to translate the page -->
    <meta name="google" content="notranslate">

    <!-- algolia default css -->
    <link rel="stylesheet" href="<%= getUrl('algolia-min.css') %>">
    <!-- ribbon.css -->
    <link rel="stylesheet" href="<%= getPrivateUrl('ribbon.css') %>">
    <!-- Micromodal css -->
    <link rel="stylesheet" href="<%= getPrivateUrl('micromodal.css') %>">
    <!-- slide css -->
    <link rel="stylesheet" href="<%= getPrivateUrl('slide.css') %>">
    <!-- custom css -->
    <link rel="stylesheet" href="<%= getPrivateUrl('styles.css') %>">
</head>

<body class="antialiased">
<div class="header-top">
    <div class="logo">
        <a href="/"><img src="<%= getPrivateUrl('dbp_logo_on_white.svg') %>" alt="dbp Logo"></a>
    </div>
    <div class="contact">
        <!--
        <img src="<%= getPrivateUrl('facebook2.svg') %>" alt="Facebook">
        <img src="<%= getPrivateUrl('instagram2.svg') %>" alt="Instagram">
        -->
        <a href="mailto:<%= email %>">
            <img src="<%= getPrivateUrl('mail2.svg') %>" alt="Mail">
        </a>
    </div>
</div>

<div class="header-bottom"></div>
<div id="starter">
    <div class="contents">
        <div id="line-1">digital blueprint</div>
        <div id="line-2">toolbox</div>
        <div id="line-3">What topics are you interested in?</div>
        <div id="line-4">Search for digital blueprints and their components:</div>
        <div class="starter-searchbar">
            <input type="text" id="starter-search" placeholder="keyword, digital blueprints, tools, languages ...">
            <button class="button is-primary" id="this-in-runner">
                <img src="<%= getPrivateUrl('search-iconoir-white.svg') %>" alt="go">
            </button>
        </div>
        <div id="or">or</div>
        <button class="button" id="all-in-runner">show all</button>
    </div>
</div>
<div id="runner" style="display:none;">
<div id="main-section"></div>
<div id="headline">digital blueprints</div>
<div id="subheadline">What do you want to find?</div>
<div id="intro">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
</div>
<div class="relative flex items-top justify-center sm:items-center">

    <div class="container">
        <div class="search-panel">
            <div class="search-panel__filters mobile-hidden">
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="blueprint-menu" data-chevron="blueprint-menu-chevron" data-status="open"
                    >Topics
                        <img id="blueprint-menu-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    <div id="blueprint-menu"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="targetaudience-list" data-chevron="targetaudience-chevron" data-status="closed"
                    >Target Audience
                        <img id="targetaudience-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    <div id="targetaudience-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="document-type-list" data-chevron="document-type-chevron" data-status="closed"
                    >Categories
                        <img id="document-type-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    <div id="document-type-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="content-type-list" data-chevron="content-type-chevron" data-status="closed"
                    >Types
                        <img id="content-type-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    <div id="content-type-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="languages-list" data-chevron="languages-chevron" data-status="closed"
                    >Programming Languages
                        <img id="languages-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    <div id="languages-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="license-list" data-chevron="license-chevron" data-status="closed"
                    >License
                        <img id="license-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    <div id="license-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="maintained-by-list" data-chevron="maintained-by-chevron" data-status="closed"
                    >Maintained by
                        <img id="maintained-by-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    <div id="maintained-by-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="labs-list" data-chevron="labs-chevron" data-status="closed"
                    >Labs/Experiments <img class="labs-img" src="<%= getPrivateUrl('lab_flask.svg')%>" alt="labs">
                        <img id="labs-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    <div id="labs-list"></div>
                </div>
                <div class="filter-block">
                    <div class="filter-heading"
                         data-target="changed" data-chevron="changed-chevron" data-status="closed"
                    >Release date
                        <img id="changed-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    <div id="changed">
                        <input type="checkbox" id="filter-changed" name="changed_filter" value="1">
                        <label for="filter-changed">released</label>
                        <label for="timespan">within</label>
                        <select name="timespan" id="timespan">
                            <!--
                            <option value="86400">24 hours</option>
                            <option value="604800">7 days</option>
                            -->
                            <option value="2678400">1 month</option>
                            <option value="7948800">3 months</option>
                            <option value="15811200">6 months</option>
                            <option value="31622400">year</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="search-panel__results">
                <div id="searchbox"></div>
                <div class="filter-block">
                    <!--
                    <div class="filter-heading"
                         data-target="current-refinements-list-and-button" data-chevron="filter-chevron" data-status="open">
                        Filter
                        <img id="filter-chevron" src="<%= getPrivateUrl('chevron-right.svg') %>" alt="chevron">
                    </div>
                    -->
                    <div id="current-refinements-list-and-button">
                        <div class="flex-row">
                            <div id="current-refinements"></div>
                            <div id="clear-refinements"></div>
                        </div>
                    </div>
                </div>
                <div class="stats-container">
                    <div id="stats"></div>
                    <div class="filter-mobile">
                        <div class="description">Show Filters</div>
                        <div id="mobile-filter-btn" onclick="view_filters()">
                            <img src="<%= getPrivateUrl('filter.svg') %>" alt="Filter">
                        </div>
                    </div>
                </div>
                <div id="hits"></div>
            </div>
        </div>

        <div id="pagination"></div>
    </div>
</div>
</div>
<footer>
    <p>
        <a href="mailto:<%= email %>" class="hello"><%= email %></a>
        <br>
        <br>
        <a href="https://www.digital-blueprint.org/imprint.html" title="imprint and partners">imprint</a>
        <span>|</span>
        <a href="https://www.tugraz.at/en/about-this-page/accessibility-statement" target="_blank" title="Accessibility declaration"> Accessibility declaration</a>
        <span>|</span>
        <a href="https://www.tugraz.at/ueber-diese-seite/datenschutzerklaerung" target="_blank" title="Data protection declaration">Data protection declaration</a>
        <span>|</span>
        <a href="https://handbook.digital-blueprint.org/" title="Digital blueprint handbook">Digital blueprint handbook</a> 
    </p>
</footer>
<!-- Additional footer -->
<footer class="additional-footer">
    <div class="footer-container"> 
        <div class="footer-column">
            <span title="Copyright" class="copy-right">Copyright © Digital Blueprint</span> 
        </div>
        <div class="footer-column">
            
        </div>
        <div class="footer-column">
            <a href="#">
                <svg width="20" height="20" viewBox="-10 -5 1034 1034" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" fill="#ffffff" stroke="#ffffff">

                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                    
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                    
                    <g id="SVGRepo_iconCarrier"> <path fill="#ffffff" d="M499 112q-93 1 -166 11q-81 11 -128 33l-14 8q-16 10 -32 25q-22 21 -38 47q-21 33 -32 73q-14 47 -14 103v37q0 77 1 119q3 113 18 188q19 95 62 154q50 67 134 89q109 29 210 24q46 -3 88 -12q30 -7 55 -17l19 -8l-4 -75l-22 6q-28 6 -57 10q-41 6 -78 4q-53 -1 -80 -7 q-43 -8 -67 -30q-29 -25 -35 -72q-2 -14 -2 -29l25 6q31 6 65 10q48 7 93 9q42 2 92 -2q32 -2 88 -9t107 -30q49 -23 81.5 -54.5t38.5 -63.5q9 -45 13 -109q4 -46 5 -97v-41q0 -56 -14 -103q-11 -40 -32 -73q-16 -26 -38 -47q-15 -15 -32 -25q-12 -8 -14 -8 q-46 -22 -127 -33q-74 -10 -166 -11h-3zM367 267q73 0 109 56l24 39l24 -39q36 -56 109 -56q63 0 101 43t38 117v239h-95v-232q0 -74 -61 -74q-69 0 -69 88v127h-94v-127q0 -88 -69 -88q-61 0 -61 74v232h-95v-239q0 -74 38 -117t101 -43z"/> </g>
                    
                    </svg>
            </a>
            <a href="#">
                <svg
                width="20.000004"
                height="19.666729"
                version="1.1"
                id="svg1"
                xml:space="preserve"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:svg="http://www.w3.org/2000/svg"><defs
                  id="defs1" /><path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M 10.008276,1.7871093e-7 C 4.4739593,1.7871093e-7 1.2990723e-6,4.5069402 1.2990723e-6,10.08264 c 0,4.456953 2.8666190009277,8.229672 6.8433780009277,9.564955 0.497198,0.100382 0.679319,-0.216948 0.679319,-0.483882 0,-0.233746 -0.01639,-1.034957 -0.01639,-1.869765 -2.78406,0.601062 -3.363816,-1.201919 -3.363816,-1.201919 -0.447417,-1.168527 -1.110347,-1.468853 -1.110347,-1.468853 -0.911221,-0.617655 0.06638,-0.617655 0.06638,-0.617655 1.010784,0.06678 1.541169,1.034957 1.541169,1.034957 0.894628,1.535637 2.336233,1.101742 2.916194,0.834603 0.08276,-0.651048 0.348059,-1.101741 0.629743,-1.352081 -2.220487,-0.233747 -4.556721,-1.101743 -4.556721,-4.9746378 0,-1.101742 0.39743,-2.00313 1.027173,-2.704164 -0.09936,-0.25034 -0.447416,-1.285502 0.09956,-2.670977 0,0 0.845052,-0.267138 2.750462,1.034958 a 9.622317,9.622317 0 0 1 2.5021717,-0.333923 c 0.845051,0 1.706491,0.116975 2.501966,0.333923 1.905616,-1.302096 2.750667,-1.034958 2.750667,-1.034958 0.546978,1.385475 0.198715,2.420637 0.09936,2.670977 0.646336,0.701034 1.027378,1.602422 1.027378,2.704164 0,3.8728948 -2.336233,4.7240928 -4.573315,4.9746378 0.364653,0.317124 0.679319,0.917981 0.679319,1.86956 0,1.352082 -0.01639,2.43723 -0.01639,2.770948 0,0.267139 0.182326,0.584469 0.679318,0.484292 3.976758,-1.335693 6.843377,-5.108207 6.843377,-9.56516 C 20.016347,4.5069402 15.526,1.7871094e-7 10.008276,1.7871093e-7 Z"
                  fill="#ffffff"
                  id="path1-2"
                  style="stroke-width:0.204861" /></svg>
             
            </a>
            <a href="#">
                <svg
   fill="#ffffff"
   width="20"
   height="16.244659"
   viewBox="0 0 0.6 0.48733978"
   version="1.1"
   id="svg1"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg">
  <defs
     id="defs1" />
  <g
     id="SVGRepo_iconCarrier"
     transform="matrix(0.03053124,0,0,0.03053124,-0.06106238,-0.1227047)">
    <path
       d="m 19.633,7.997 c 0.013,0.175 0.013,0.349 0.013,0.523 0,5.325 -4.053,11.461 -11.46,11.461 -2.282,0 -4.402,-0.661 -6.186,-1.809 0.324,0.037 0.636,0.05 0.973,0.05 A 8.07,8.07 0 0 0 7.974,16.501 4.036,4.036 0 0 1 4.207,13.708 c 0.249,0.037 0.499,0.062 0.761,0.062 0.361,0 0.724,-0.05 1.061,-0.137 A 4.027,4.027 0 0 1 2.799,9.68 V 9.63 c 0.537,0.299 1.16,0.486 1.82,0.511 A 4.022,4.022 0 0 1 2.823,6.787 c 0,-0.748 0.199,-1.434 0.548,-2.032 a 11.457,11.457 0 0 0 8.306,4.215 c -0.062,-0.3 -0.1,-0.611 -0.1,-0.923 a 4.026,4.026 0 0 1 4.028,-4.028 c 1.16,0 2.207,0.486 2.943,1.272 a 7.957,7.957 0 0 0 2.556,-0.973 4.02,4.02 0 0 1 -1.771,2.22 8.073,8.073 0 0 0 2.319,-0.624 8.645,8.645 0 0 1 -2.019,2.083 z"
       id="path1" />
  </g>
</svg>
            </a>
            <a href="#">
                <svg
   version="1.1"
   id="Icons"
   viewBox="0 0 0.8 0.83259247"
   xml:space="preserve"
   width="20"
   height="20.814812"
   fill="#ffffff"
   sodipodi:docname="paper-plane-toy-svgrepo-com.svg"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:svg="http://www.w3.org/2000/svg"><defs
   id="defs1" /><sodipodi:namedview
   id="namedview1"
   pagecolor="#ffffff"
   bordercolor="#000000"
   borderopacity="0.25"
   inkscape:showpageshadow="2"
   inkscape:pageopacity="0.0"
   inkscape:pagecheckerboard="0"
   inkscape:deskcolor="#d1d1d1" />





<g
   id="SVGRepo_iconCarrier"
   transform="matrix(0.02962963,0,0,0.02962963,-0.0592593,-0.05629628)"> <style
   type="text/css"
   id="style1"> .st0{fill:none;stroke:#000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;} </style> <path
   d="m 29,2.9 c 0,-0.1 0,-0.2 0,-0.3 0,0 0,-0.1 0,-0.1 0,-0.1 -0.1,-0.2 -0.2,-0.2 0,0 0,0 0,-0.1 0,0 0,0 0,0 0,0 0,0 0,0 C 28.7,2.1 28.6,2.1 28.5,2 c 0,0 -0.1,0 -0.1,0 -0.1,0 -0.2,0 -0.3,-0.1 0,0 -0.1,0 -0.1,0 -0.1,0 -0.2,0 -0.3,0 0,0 -0.1,0 -0.1,0 0,0 0,0 0,0 l -25,12 c -0.3,0.4 -0.6,0.7 -0.6,1 0,0.3 0.1,0.7 0.4,0.9 l 5.2,3.9 6.8,-5.5 c 0.4,-0.3 1.1,-0.3 1.4,0.2 0.3,0.4 0.3,1.1 -0.2,1.4 L 9,21.1 V 29 c 0,0.4 0.3,0.8 0.7,0.9 0.1,0.1 0.2,0.1 0.3,0.1 0.3,0 0.6,-0.1 0.8,-0.4 l 3.7,-4.8 3.9,2.9 c 0.2,0.1 0.4,0.2 0.6,0.2 0.1,0 0.2,0 0.3,0 0.3,-0.1 0.5,-0.3 0.7,-0.6 l 9,-24 c 0,-0.1 0,-0.2 0,-0.4 0,0.1 0,0.1 0,0 z"
   id="path1" /> </g>

</svg>
            </a>
        </div>
    </div>
</footer>
<!-- Error handling for too old browsers -->
<noscript>This application requires Javascript</noscript>
</body>
</html>
